*{
    margin: 0;
    padding: 0;
}

/* IMPORTAÇÃO DE FONTES DO GOOGLE */

/* VIA URL */
@import url('https://fonts.googleapis.com/css2?family=Caacupe+One&display=swap');

body{
    background-color: blanchedalmond;
    margin: 20px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1{
    font-weight: 200;
}

h2{
    font-weight: 600;
}
/* Estilização de varios elementos ao mesmo tempo */
h1,h2{
    font-family: "Roboto", sans-serif;
    color: #1f3c88;
}

.bloco{
    background-color: white;
    border: 2px solid gray;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* IMPORTAR FONTES DO PROJETO */
@font-face {
    font-family: "CaacupeOne";
    src: url(fonts/CaacupeOne.ttf);
}

p{
    font-family: "CaacupeOne";
    font-size: 30px;
    color: rgba(22, 123,238,0.694 );
}

/* PSUDOS CLASSES */
a{
    color: orange;
}

/* Links não visitados */
a:link{
    color: green;
}

/* Links já visitados */
a:visited{
    color: blueviolet;
}

/* Link que está ativo,que está clicado */
a:active{
    color: cyan;
}
/* quando passa o mouse emcima */
a:hover{
    color: black;
    font-family: 20px;
    text-decoration: none;
}

/* quando passa o mouse emcima */
button:hover{
    cursor: pointer;
    background-color: red;
    color: white;
    padding: 15px;
    transform:scale3d(1,2,4);
    transition: 1s;
}

/* Link que está ativo,que está clicado */
button:active{
    transform: rotate(90deg);
    transition: 0.5s;
   
}

/* FORMULARIOS */

/* Input quando está selecionado */
input:focus{
    outline: none;
    border: 2px solid #fd0;
    background-color: azure;
}

/* Input é obrigado */
input:required{
    border: 2px solid red;

}

/* quando o preenchimento é válido */
input:valid{
    background-color: greenyellow;
}

/* quando não for válido */
input:invalid{
    background-color: red;
}

/* quando o checkbox está marcado */
input:checked{
    accent-color: green;
}

/* estiliza os inputs desabilitados */
input:disabled{
    background-color: #e5e7eb;
    color: #6b7280;
}

/* SELECIONA O PRIMEIRO FILHO, VULGO PRIMOGÊNITO */
.lista-exemplo li:first-child{
    color: green;
    font-weight: bold;
}

/* SELECIONA O ULTIMO FILHO, VULGO O PREFERIDO */
.lista-exemplo li:last-child{
    background-image: linear-gradient( to right, #168a0d 0%, #168a0d 30%,#fff700 55%, #ff2929 100%);
    height: 50px;
    font-weight: bold;
}

/* SELECIONA QUALQUER FILHO */
.lista-exemplo li:nth-child(3){
    background-color: gold;
}

/* Elementos vazios */
.caixa-vazia:empty{
    width: 200px;
    height: 250px;
    background-color: pink;
}

/* Seleciona a 1º letra de um texto */
.texto-especial::first-letter{
    color: red;
    font-size: 50px;
}

/* Seleciona a 1º linha de um texto */
.texto-especial::first-line{
    color: gold;
    font-size: 20px;
}

/* PSEUDO ELEMENTOS */

/* Inserir elementos antes dos elementos */
h2::before{
    content: " 👌😏";
}
/* Inserir elementos depois dos elementos */
h2::after{
    content: " 🎶😎";
}

/* Estliza o texto dentro dos inputs */
input::placeholder{
    color: rebeccapurple;
    font-style: italic;
}

/* ESTILIZA O TEXTO SELECIONADO */
::selection{
    background-color: yellowgreen;
    color: green;
}

/* ESTILIZA OS MARCADORES DE TEXTO */
.lista-marker li::marker{
    color: #03f182;
    font-size: 50px;
}

li::before{
    content: "";
    display: inline-block;

    width: 10px;
    height: 10px;
}